<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
    <link rel="stylesheet" href="../public/css/home.css">
</head>
<body style="background-color: #7dad71;margin: 0%;color: aliceblue;">
    <div class="container">
        <div class="text-title">
            <h1 id="title">PokeFólio</h1>
        </div>
    </div>
    <div class="description">
        <p id="description">Aqui você pode ver todos os pokemons que você já capturou!</p>
    </div>
    <img id="sun" src="../public/images/t (1).webp" >

    <script src="../public/js/home.js"></script>
</body>
</html>